@font-face {
    font-family: FixelText, sans-serif;
    src: url("../font/FixelText/FixelText-Regular.woff2") format("woff2");

}
.menu{
    z-index: 2;
    font-size: 14px;
    line-height: 24px;
    padding: 32px 40px 0px 40px;
}

.menu-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.layout{
    border-bottom: 1px solid #ebebeb;
    width: calc(100% - 96px);
    max-width: 1600px;
    margin: 0 auto;
}
.navlink{
    text-decoration: none;
    display: flex;
    padding: 8px 0 16px 0;
    color: #212121;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    transition: color .2s ease-in-out;
    font-family: FixelText, sans-serif;
}